<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="static/style.css" />

    <title>Dice</title>
  </head>
  <body class="container" style="background-color: powderblue">
    <br />
    <h1>Dice</h1>
    <br />
    {% for item in files_list %}
    <img src="/static/{{ item }}.png" style="width: 70px" />
    {% endfor %}
    <br /><br />
    <form method="post">
      <label for=""># of Sides</label>
      <input
        type="range"
        name="num_sides"
        value="{{ sides_default }}"
        min="1"
        max="6"
        oninput="this.nextElementSibling.value = this.value"
      />
      <output>{{ sides_default }}</output>
      <br />
      <label># of Dice</label>
      <input
        type="range"
        name="num_dice"
        value="{{ dice_default }}"
        min="1"
        max="10"
        oninput="this.nextElementSibling.value = this.value"
      />
      <output>{{dice_default}}</output>
      <br /><br />
      <input type="submit" value="Roll" class="btn btn-primary" />
    </form>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
      integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
